@model Mini_Project.Models.Account

@{
    ViewBag.Title = "Registered";
}


@*<h4>Your account has been succesfully created! Please verify your email account by clicking the link that is sent to your email account.</h4>
<br />*@

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.EditorFor(model => model.otpValueId, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Verify" class="btn btn-default" />
        </div>
    </div>
    }*@

<div class="custom-checkphonenumber" style="margin-bottom: 364px;">
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div h4 style="text-align: justify; font-size: 16px; color: #8e9297; margin-bottom: 30px;">Your account has been succesfully created! Please verify your email account by clicking the link that is sent to your email account.</div>

        <div>
            @Html.ActionLink("Click here to resend email", "RequestEmail", "Account", routeValues: null, htmlAttributes: new { @class = "custom-OTP" })
        </div>
        <div>
            @Html.ActionLink("Back to Login", "LogIn", "Account")
        </div>



    </div>
</div>
